@charset "utf-8";

*{margin: 0;padding: 0;}

body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
main{
  width: 500px;
  background-color: black;
  color: white;
  padding: 20px;
  border-radius: 10px;
}
main> h1{
  text-align: center;
  margin: 20px 0;
  font-size: 50px;
  background-image: linear-gradient(0deg, rgba(176,145,247,1) 5%, rgba(126,45,253,1) 77%);
  background-clip: text;
  color: transparent;
}
main> div.item{
  margin: 20px 0;
}
main> div.item> div.title{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
main> div.item> div.line{
  height: 10px;
  border: 2px solid violet;
  border-radius: 3px;
  padding: 2px;
}
main> div.item> div.line> div.bar{
  height: 100%;
  background-color: yellow;
  background-image: linear-gradient(90deg, rgba(217,0,151,1) 0%, rgba(255,243,162,1) 50%, rgba(0,212,255,1) 100%, rgba(2,0,36,1) 300%);
  animation-name: progress;
  animation-duration: 1s;
}

@keyframes progress{
  0%{
    width: 0;
  }
}



